
<form method="get" action='@Url.Action("Registro")' autocomplete="off">
    <div class = "container">
        <h2>Registro</h2>
        <div class="row">
                <div class="col-25">
                    <label for="fname">Username:</label>
                </div>
                <div class="col-75">
                    <input type="text" id="username" name="usuario" placeholder="Su username..">

                </div>
            </div>
        <div class="row">
                <div class="col-25">
                    <label for="fname">contraseña:</label>
                </div>
                <div class="col-75">
                    <input type="password" id="password" name="contraseña" onkeyup="validatePassword()" placeholder="Su contraseña..">
                    <p id="resultado"></p>
                </div>
                   <div id="infocontraseña" class="form-text">
      <span>La contraseña debe tener: </span> <span style="color:red" id="largo">entre 8 y 100 caracteres</span><span style="color:red" id="caracterEspecial">, al menos un caracter especial</span><span style="color:red" id="letraMayuscula"> y al menos una letra en mayuscula.</span>
    </div>
            </div>
            @* repita contraseña *@
  


        <div class="row">
                <div class="col-25">
                    <label for="fname">Correo Electronico:</label>
                </div>
                <div class="col-75">
                    <input type="email" id="mail" name="mail" placeholder="Su mail..">
                </div>
        </div>
        <div class = "BotonLogin">
            <h3><a href='@Url.Action("Registro","Account")'><input type="submit" value="Registrarse"></input></a></h3>
        </div>
    </div>
</form>
<button class="button" style="vertical-align:middle"><a href='@Url.Action("Login","Account")'><span>Volver al Login</span></a></button>

/*falta cosas de java (los colores ), que no pueda poner misma usuario que contraseña, y que salte mensaje error cuando el nombre de usuario ya existe*/