USE [master]
GO
/****** Object:  Database [BDAlbum]    Script Date: 22/11/2023 21:57:07 ******/
CREATE DATABASE [BDAlbum]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDAlbum', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BDAlbum.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDAlbum_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BDAlbum_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDAlbum].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDAlbum]
GO
/****** Object:  Table [dbo].[Album]    Script Date: 22/11/2023 21:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Album](
	[IdAlbum] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Album] PRIMARY KEY CLUSTERED 
(
	[IdAlbum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlbumXFigus]    Script Date: 22/11/2023 21:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlbumXFigus](
	[IdAlbum] [int] NOT NULL,
	[IdFigurita] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipo]    Script Date: 22/11/2023 21:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipo](
	[IdEquipo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Insigna] [varchar](100) NULL,
	[Imagen] [varchar](500) NULL,
 CONSTRAINT [PK_Equipo] PRIMARY KEY CLUSTERED 
(
	[IdEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Figuritas]    Script Date: 22/11/2023 21:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Figuritas](
	[IdFigurita] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[ImagenJugador] [varchar](500) NULL,
	[Tipo] [varchar](50) NOT NULL,
	[Precio] [int] NOT NULL,
	[Numero] [int] NOT NULL,
	[IdEquipo] [int] NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Figuritas] PRIMARY KEY CLUSTERED 
(
	[IdFigurita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 22/11/2023 21:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventario](
	[IdInventario] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Inventario] PRIMARY KEY CLUSTERED 
(
	[IdInventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventarioXFigus]    Script Date: 22/11/2023 21:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventarioXFigus](
	[IdInventario] [int] NOT NULL,
	[IdFigurita] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sobres]    Script Date: 22/11/2023 21:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sobres](
	[IdSobre] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Foto] [varchar](100) NOT NULL,
	[Valor] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Fecha_Fin] [int] NULL,
	[Descripcion] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Sobres] PRIMARY KEY CLUSTERED 
(
	[IdSobre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 22/11/2023 21:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Contraseña] [varchar](500) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Monedas] [int] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Album] ON 

INSERT [dbo].[Album] ([IdAlbum], [IdUsuario]) VALUES (2, 4)
SET IDENTITY_INSERT [dbo].[Album] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipo] ON 

INSERT [dbo].[Equipo] ([IdEquipo], [Nombre], [Insigna], [Imagen]) VALUES (1, N'Diarco United', N'.', N'escDiar.png')
INSERT [dbo].[Equipo] ([IdEquipo], [Nombre], [Insigna], [Imagen]) VALUES (2, N'Argentina', N'.', N'escArg.png')
INSERT [dbo].[Equipo] ([IdEquipo], [Nombre], [Insigna], [Imagen]) VALUES (3, N'Ecuador', N'.', N'escEcupng')
SET IDENTITY_INSERT [dbo].[Equipo] OFF
GO
SET IDENTITY_INSERT [dbo].[Figuritas] ON 

INSERT [dbo].[Figuritas] ([IdFigurita], [Nombre], [ImagenJugador], [Tipo], [Precio], [Numero], [IdEquipo], [Apellido]) VALUES (1, N'escudo diarco', N'escudo_diarco.jpg', N'Brillante', 2, 0, 1, N'Diarquito')
INSERT [dbo].[Figuritas] ([IdFigurita], [Nombre], [ImagenJugador], [Tipo], [Precio], [Numero], [IdEquipo], [Apellido]) VALUES (2, N'Axel', N'figurita_axel.jpg', N'Comun', 2, 1, 1, N'Kleiman')
INSERT [dbo].[Figuritas] ([IdFigurita], [Nombre], [ImagenJugador], [Tipo], [Precio], [Numero], [IdEquipo], [Apellido]) VALUES (3, N'Nicolas', N'figurita_becher.jpg', N'Comun', 1, 2, 1, N'Becherman')
SET IDENTITY_INSERT [dbo].[Figuritas] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventario] ON 

INSERT [dbo].[Inventario] ([IdInventario], [IdUsuario]) VALUES (1, 4)
SET IDENTITY_INSERT [dbo].[Inventario] OFF
GO
INSERT [dbo].[InventarioXFigus] ([IdInventario], [IdFigurita]) VALUES (1, 9)
INSERT [dbo].[InventarioXFigus] ([IdInventario], [IdFigurita]) VALUES (1, 32)
INSERT [dbo].[InventarioXFigus] ([IdInventario], [IdFigurita]) VALUES (1, 5)
GO
SET IDENTITY_INSERT [dbo].[Sobres] ON 

INSERT [dbo].[Sobres] ([IdSobre], [Nombre], [Foto], [Valor], [Cantidad], [Fecha_Fin], [Descripcion]) VALUES (2, N'Normal', N'.', 4, 4, NULL, N'Este sobre tiene un valor de 4 monedas. Adentro contendra 4 figuritas.')
INSERT [dbo].[Sobres] ([IdSobre], [Nombre], [Foto], [Valor], [Cantidad], [Fecha_Fin], [Descripcion]) VALUES (3, N'Premium', N'.', 8, 6, NULL, N'Este tiene un valor de 8 monedas. Adentro contendra 6 figuritas.')
SET IDENTITY_INSERT [dbo].[Sobres] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [Contraseña], [Email], [Monedas]) VALUES (4, N'Nicolas', N'Contraseña', N'NicoGmail', 90)
INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [Contraseña], [Email], [Monedas]) VALUES (5, N'Ivo', N'River', N'SoyNico@gmail', 0)
INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [Contraseña], [Email], [Monedas]) VALUES (6, N'benja', N'fornite', N'SoyNico@gmail', 0)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Album]  WITH CHECK ADD  CONSTRAINT [FK_Album_Usuario1] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Album] CHECK CONSTRAINT [FK_Album_Usuario1]
GO
ALTER TABLE [dbo].[AlbumXFigus]  WITH CHECK ADD  CONSTRAINT [FK_AlbumXFigus_Album] FOREIGN KEY([IdAlbum])
REFERENCES [dbo].[Album] ([IdAlbum])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AlbumXFigus] CHECK CONSTRAINT [FK_AlbumXFigus_Album]
GO
ALTER TABLE [dbo].[AlbumXFigus]  WITH CHECK ADD  CONSTRAINT [FK_AlbumXFigus_Figuritas] FOREIGN KEY([IdFigurita])
REFERENCES [dbo].[Figuritas] ([IdFigurita])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AlbumXFigus] CHECK CONSTRAINT [FK_AlbumXFigus_Figuritas]
GO
ALTER TABLE [dbo].[Figuritas]  WITH CHECK ADD  CONSTRAINT [FK_Figuritas_Equipo] FOREIGN KEY([IdEquipo])
REFERENCES [dbo].[Equipo] ([IdEquipo])
GO
ALTER TABLE [dbo].[Figuritas] CHECK CONSTRAINT [FK_Figuritas_Equipo]
GO
ALTER TABLE [dbo].[InventarioXFigus]  WITH CHECK ADD  CONSTRAINT [FK_InventarioXFigus_Figuritas] FOREIGN KEY([IdFigurita])
REFERENCES [dbo].[Figuritas] ([IdFigurita])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventarioXFigus] CHECK CONSTRAINT [FK_InventarioXFigus_Figuritas]
GO
ALTER TABLE [dbo].[InventarioXFigus]  WITH CHECK ADD  CONSTRAINT [FK_InventarioXFigus_Inventario] FOREIGN KEY([IdInventario])
REFERENCES [dbo].[Inventario] ([IdInventario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventarioXFigus] CHECK CONSTRAINT [FK_InventarioXFigus_Inventario]
GO
/****** Object:  StoredProcedure [dbo].[AbrirSobreNormal]    Script Date: 22/11/2023 21:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[AbrirSobreNormal]
	@user int
as
begin
	create table #TempResults (
        IdFigurita INT,
		Nombre varchar(50),
		ImagenJugador varchar(500),
		Tipo varchar(50),
		Precio int,
		Numero [int],
		IdEquipo int,
		Apellido varchar(50)
    );

    insert into #TempResults
    exec ConseguirFigurita @user;

    insert into #TempResults
    exec ConseguirFigurita @user;

    insert into #TempResults
    exec ConseguirFigurita @user;

    select * from #TempResults;

    drop table #TempResults;

end

SELECT * From Usuario Where IdUsuario = 4
GO
/****** Object:  StoredProcedure [dbo].[AbrirSobrePremium]    Script Date: 22/11/2023 21:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[AbrirSobrePremium]
	@user int
as
begin
	create table #TempResults (
        IdFigurita INT,
		Nombre varchar(50),
		ImagenJugador varchar(500),
		Tipo varchar(50),
		Precio int,
		Numero [int],
		IdEquipo int,
		Apellido varchar(50)
    );

    insert into #TempResults
    exec ConseguirFigurita @user;

    insert into #TempResults
    exec ConseguirFigurita @user;

    insert into #TempResults
    exec ConseguirFigurita @user;

	insert into #TempResults
    exec ConseguirFigurita @user;

    insert into #TempResults
    exec ConseguirFigurita @user;

    select * from #TempResults;

    drop table #TempResults;

end
GO
/****** Object:  StoredProcedure [dbo].[ComprarSobres]    Script Date: 22/11/2023 21:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ComprarSobres]
@precio int,@idUsuario int
AS
BEGIN
Update Usuario set Monedas-=@precio WHERE IdUsuario=@idUsuario
END

GO
/****** Object:  StoredProcedure [dbo].[ConseguirFigurita]    Script Date: 22/11/2023 21:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[ConseguirFigurita]
	@user int
as
begin
	declare @numRand int = (SELECT ROUND(((37 - 0) * RAND() + 0), 0))

	select * from Figuritas where Numero = @numRand

	insert into InventarioXFigus(IdInventario, IdFigurita) Values((select IdInventario from Inventario where IdUsuario = @user), (select IdFigurita from Figuritas where Numero = @numRand))
end

GO
/****** Object:  StoredProcedure [dbo].[GetUsuario]    Script Date: 22/11/2023 21:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[GetUsuario]
@usuario varchar(50)
as
begin

select * from Usuario where Nombre=@usuario;


end
GO
/****** Object:  StoredProcedure [dbo].[GetUsuarioById]    Script Date: 22/11/2023 21:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[GetUsuarioById]
	@user int
as
begin
	select * from Usuario where IdUsuario = @user
end
GO
/****** Object:  StoredProcedure [dbo].[LoginUsuario]    Script Date: 22/11/2023 21:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoginUsuario]
@NombreUsuario varchar(50),
@Contraseña varchar(500)
AS
BEGIN
declare @contraseñacorrecta varchar(100) /*declaro lo que necesito para comparar*/

SELECT @contraseñacorrecta = Contraseña from Usuario where Nombre=@NombreUsuario  /*le doy un valor*/

if (@Contraseña=@contraseñacorrecta) /*la comparo con el parametro ingresado*/
begin
print 'true'
SELECT 1 /*true*/
end

ELSE 
begin 
print 'False'
SELECT 0/*false*/
end

END;
GO
/****** Object:  StoredProcedure [dbo].[obtenerInventario]    Script Date: 22/11/2023 21:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[obtenerInventario]
    @user int
AS
BEGIN
    SELECT DISTINCT F.IdFigurita, F.Nombre, F.ImagenJugador, F.Tipo, F.Precio, F.Numero, F.IdEquipo, F.Apellido
    FROM Figuritas F
    INNER JOIN InventarioXFigus ixf ON ixf.IdFigurita = F.IdFigurita
    INNER JOIN Inventario I ON I.IdInventario = ixf.IdInventario
    INNER JOIN Usuario U ON U.IdUsuario = I.IdUsuario
    WHERE U.IdUsuario = @user
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerSobres]    Script Date: 22/11/2023 21:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerSobres]
AS
BEGIN
SELECT * FROM Sobres
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarseUsuario]    Script Date: 22/11/2023 21:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarseUsuario]
    @NombreUsuario VARCHAR(50),
    @Contraseña VARCHAR(500),
    @Email VARCHAR(100)
AS
BEGIN
    IF NOT EXISTS (SELECT * FROM Usuario WHERE Nombre = @NombreUsuario)
    BEGIN
        IF (
                LEN(@Contraseña) >= 8 AND
                @Contraseña LIKE '%[A-Z]%' AND
                @Contraseña LIKE '%[^a-zA-Z0-9]%' 
            )
        BEGIN
            INSERT INTO Usuario (Nombre, Contraseña, Email, Monedas)
            VALUES (@NombreUsuario, @Contraseña, @Email, 0)
			 SELECT 0
        END
        ELSE
        BEGIN
            SELECT -1
			/*no cumple con las condiciones*/
        END
    END
    ELSE
    BEGIN
        SELECT -2
	   /*el nombre ya esta en uso*/

    END
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CambiarContraseña]    Script Date: 22/11/2023 21:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CambiarContraseña]
    @usuario VARCHAR(100),
    @contraseñaActual VARCHAR(100),
    @nuevaContraseña VARCHAR(100)
AS
BEGIN
    DECLARE @longitud INT,
            @caracterEspecial INT,
            @mayuscula INT,
            @contraseñaAnterior VARCHAR(100)

    -- Verificar que la nueva contraseña cumpla con los requisitos
    SET @longitud = LEN(@nuevaContraseña)
    SET @caracterEspecial = CASE WHEN @nuevaContraseña LIKE '%[!@#$%^&*()_+-=[]{};:''",.<>/?]%' THEN 1 ELSE 0 END
    SET @mayuscula = CASE WHEN @nuevaContraseña COLLATE Latin1_General_BIN LIKE '%[A-Z]%' THEN 1 ELSE 0 END

    -- Obtener la contraseña actual del usuario
    SELECT @contraseñaAnterior = Contraseña
    FROM Usuario
    WHERE Nombre = @usuario

    -- Verificar que el usuario existe y la contraseña actual es correcta
    IF EXISTS (SELECT * FROM Usuario WHERE Nombre = @usuario AND Contraseña = @contraseñaActual)
    BEGIN
        -- Verificar que la nueva contraseña cumple con todos los requisitos
        IF @longitud >= 8 AND @caracterEspecial = 1 AND @mayuscula = 1 AND @nuevaContraseña NOT IN (@usuario, @contraseñaActual)
        BEGIN
            -- Actualizar la contraseña
            UPDATE Usuario
            SET Contraseña = @nuevaContraseña
            WHERE Nombre = @usuario
			SELECT 1
            PRINT '¡Contraseña actualizada correctamente!'
        END
        ELSE
        BEGIN
            PRINT 'La nueva contraseña no cumple con los requisitos.'
            IF @nuevaContraseña IN (@usuario, @contraseñaActual)
            BEGIN
                PRINT 'La nueva contraseña no puede ser igual al usuario o la contraseña anterior.'
				SELECT -1
            END
           
		   IF @mayuscula = 0 and @caracterEspecial = 0 and  @longitud < 8
            BEGIN
                PRINT 'No se siguen las especificaciones.'
				SELECT -2
            END
        END
    END
    ELSE
    BEGIN
		SELECT -3
        PRINT 'Usuario o contraseña actual incorrectos.'
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Repetidas]    Script Date: 22/11/2023 21:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Repetidas]
@user int
AS
BEGIN
SELECT F.IdFigurita, F.Nombre, F.ImagenJugador, F.Tipo, F.Precio, F.Numero, F.IdEquipo, F.Apellido 
FROM Figuritas F
INNER JOIN InventarioXFigus ixf ON ixf.IdFigurita = F.IdFigurita
INNER JOIN Inventario I ON I.IdInventario = ixf.IdInventario
INNER JOIN Usuario U ON U.IdUsuario = I.IdUsuario
WHERE U.IdUsuario = @user
GROUP BY F.IdFigurita, F.Nombre, F.ImagenJugador, F.Tipo, F.Precio, F.Numero, F.IdEquipo, F.Apellido 
HAVING COUNT(ixf.IdInventario) > 1
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_SepararFiguritasPorEquipo]    Script Date: 22/11/2023 21:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SepararFiguritasPorEquipo]
@IdAlbum int
AS
BEGIN
SELECT F.Nombre, F.Apellido FROM Figuritas F INNER JOIN AlbumXFigus FG ON F.IdFigurita = FG.IdFigurita INNER JOIN Album A ON A.IdAlbum = FG.IdAlbum INNER JOIN Equipo E ON F.IdEquipo = E.IdEquipo WHERE FG.IdAlbum = @IdAlbum GROUP BY E.Nombre, F.Nombre,F.Apellido, F.Numero, E.IdEquipo ORDER BY E.IdEquipo ASC, F.Numero 
END;

EXEC SP_SepararFiguritasPorEquipo '2'
GO
/****** Object:  StoredProcedure [dbo].[SP_Vender]    Script Date: 22/11/2023 21:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Vender] 
@precio int,@idUsuario int, @idFigu int
AS
Begin

begin
Update Usuario set Monedas+=@precio WHERE IdUsuario=@idUsuario
end

DELETE TOP(1) FROM InventarioXFigus WHERE IdFigurita=@idFigu
end
GO
USE [master]
GO