@{
    ViewData["Title"] = "ActualizarContraseña";
}
<div class="registro" style="display: flex; justify-content: center;">
<form method="post" action='@Url.Action("ActualizarContra")' autocomplete="off">

    <div class = "container">
        <h2>Actualizar Contraseña</h2>
        <div class="row">
                <div class="col-25">
                    <label for="fname">Username:</label>
                </div>
                <div class="col-75">
                    <input type="text" id="username" name="usuario" placeholder="Su username..">

                </div>
            </div>
        <div class="row">
                <div class="col-25">
                    <label for="fname">Contraseña:</label>
                </div>
                <div class="col-75">
                    <input type="password" name="contraseña" placeholder="Su contraseña..">
                </div>
            </div>

           <div class="row">
                <div class="col-25">
                    <label for="fname">Nueva contraseña:</label>
                </div>
                <div class="col-75">
                    <input type="password" id="password" name="nuevacontraseña" onkeyup="validatePassword()" placeholder="Su contraseña..">
                    <p id="resultado"></p>
                </div>
            </div>

        <div class="row">
            <div class="col-25">
                <label for="fname">Confirmar Contraseña:</label>
            </div>
            <div class="col-75">
                <input type="password" id="confirmPassword" name="confirmarContraseña" onkeyup="validatePassword()" placeholder="Confirme su contraseña..">
                <p id="confirmacion"></p>
            </div>
        </div>
        <div class = "BotonLogin">
            <h3><a href='@Url.Action("ActualizarContra")'><input type="submit" value="Actualizar"></input></a></h3>
        </div>
    </div>
</form>

        @if (ViewBag.MensajeErrorCAMBIARCONTRA == -1){
            <div class = "MSJ-error">
                <strong>Cuidado!</strong>La contraseña no cumple con los requesitos
            </div>
        }
        @if (ViewBag.MensajeErrorCAMBIARCONTRA == -2){
            <div class = "MSJ-error">
                <strong>Cuidado!</strong>La nueva contraseña es igual al usuario o a la contraseña actual
            </div>
        }
        @if(ViewBag.MensajeErrorCAMBIARCONTRA == -3){
            <div class = "MSJ-error">
                <strong>Cuidado!</strong> Usuario o contraseña inválidos
            </div>
        }
        @if(ViewBag.MensajeErrorCAMBIARCONTRA == -4){
            <div class = "MSJ-error">
                <strong>Cuidado!</strong> Confirmación de contraseña fallida 
            </div>}
            
<button class="button" style="vertical-align:middle"><a href='@Url.Action("InicioSesion")'><span>Volver al Login</span></a></button>
</div>