@{
    ViewData["Title"] = "Inicio Sesión";
}


<div class="pagina-inicio" style="display: flex; justify-content: center;">
    <div class = "container">
        <form method="post" action='@Url.Action("Login")' autocomplete="off">
            <h1>Login</h1>
            <div class = "UYC">
                <h3>Username</h3>
                <div class = "Formulario">
                <input type="text" required="" name="usuario" id="Nombre" placeholder="Su usuario...">
                </div>
                <h3>Contraseña</h3>
                <div class = "Formulario">
                    <input type="password" required="" name="Contraseña" id="Contraseña" placeholder="Su contraseña">
                </div>
                <input type="checkbox" onclick="showPassword()">Mostrar contraseña
                <br>
            </div>
            <div class = "BotonLogin">
                <a href='@Url.Action("Login")'><input type="submit" value="Login"></a>
            </div>
        </form>
            <div class = "Opciones">
                    @if (ViewBag.MensajeError == true){
            <div class = "MSJ-error">
                <strong>Cuidado!</strong>Los datos son incorrectos
            </div>
        }
                <h4>¿No tienes una cuenta? <a href='@Url.Action("Registrarse")'>Registrarse</a></h4>
                <h4>¿Quieres cambiar la contraseña? <a href='@Url.Action("CambiarContraseña")'>Cambiar Contraseña</a></h4>

        </div>

    </div>
</div>

