@{
    ViewData["Title"] = "Registrarse";
}

<form method="post" action='@Url.Action("Registro")' autocomplete="off">
    <div class = "container">
        <h2>Registro</h2>
        <div class="row">
                <div class="col-25">
                    <label for="fname">Username:</label>
                </div>
                <div class="col-75">
                    <input type="text" id="username" name="usuario" placeholder="Su username..">

                </div>
            </div>
        <div class="row">
                <div class="col-25">
                    <label for="fname">Contrase単a:</label>
                </div>
                <div class="col-75">
                    <input type="password" id="password" name="contrase単a" onkeyup="validatePassword()" placeholder="Su contrase単a..">
                    <p id="resultado"></p>
                </div>
            </div>
        <div class="row">
                <div class="col-25">
                    <label for="fname">Correo Electronico:</label>
                </div>
                <div class="col-75">
                    <input type="email" id="mail" name="mail" placeholder="Su mail..">
                </div>
        </div>
        <div class = "BotonLogin">
            <h3><a href='@Url.Action("Registro")'><input type="submit" value="Registrarse"></input></a></h3>
        </div>
    </div>
</form>
<button class="button" style="vertical-align:middle"><a href='@Url.Action("Login")'><span>Volver al Login</span></a></button>

/*falta cosas de java (los colores ), que no pueda poner misma usuario que contrase単a, y que salte mensaje error cuando el nombre de usuario ya existe*/