/* Estilos para los círculos */


body {
  background-color: #6b2737;
}


.Circulo {
  display: flex;
  flex-wrap: wrap;
  width: 100vw; /* Ocupa todo el ancho de la ventana */
  height: 100vh; /* Ocupa todo el alto de la ventana */
  justify-content: center; /* Centra los círculos horizontalmente */
  align-items: center; /* Centra los círculos verticalmente */
  padding: 20px; /* Añade espacio entre los círculos y los bordes de la ventana */
}

.Circulo > div {
  width: 100px; /* Tamaño fijo para los círculos */
  height: 100px; /* Tamaño fijo para los círculos */
  border-radius: 50%; /* Borde redondeado para formar un círculo */
  display: flex; /* Para centrar el contenido */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin: 10px; /* Espacio entre cada círculo */
  border: 2px solid black; /* Borde de 2px sólido negro */
}



.Circulo
{
display: flex;
flex-wrap: wrap;
}
  .Circulo_Blanco,
  .Circulo_Gris {
   padding: 20px;
    border-radius: 50%; /* Borde redondeado para formar un círculo */
    display: flex; /* Para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin-right: 10px; /* Espacio entre cada círculo */
    background-color: white; /* Color de fondo blanco */
    color: rgb(0, 0, 0); /* Color del número dentro del círculo blanco */
    border: 30px solid black; /* Borde de 2px sólido negro */
    flex-direction: row;

  }


/* Estilos específicos para el círculo blanco */
.Circulo_Blanco {
  background-color: white; /* Color de fondo blanco */
  color: black; /* Color del número dentro del círculo blanco */
  border: 3px solid black; /* Borde de 2px sólido negro */
}

/* Estilos específicos para el círculo gris */
.Circulo_Gris {
  background-color: #070000; /* Color de fondo gris */
  color: rgb(255, 255, 255); /* Color del número dentro del círculo gris */
  border: 2px solid black; /* Borde de 2px sólido negro */
}
