html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
body {
  background-image: url(wwwroot/img/fondo.jpg);
  background-size: 100%;
}

footer {
  position: fixed; 
  bottom: 0; 
  margin: 10px 0px 20px 0px;
}

/*LOGIN*/
.container{
  max-width: 350px;
  height: 350px;
  margin-top: 240px;
  margin-left: 28%;
  padding: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  
}
.BotonLogin [type=submit]{
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  padding: 5px 10px;
  border: none;
  color: white;
  background-color: rgb(0, 71, 224);
  border-radius: 10px;
}
a {
  color:rgb(83, 83, 83);
}
#olvidada {
  font-size: 12px;
}

/*REGISTRO*/
input[type=submit]:hover {
  background-color: #45a049;
}
input[type=text], select, textarea, input[type=password], input[type=date], input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}


/*BIENVENIDA*/
#Bienvenida {
  display: flex;
  justify-content: center;
  margin-top: 17%;
  width: 100%;
  font-size: 150%;
  background: none;
}
#Bienvenida h1 {
  animation-name: animacion2;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animacion2 {
  0% {color: rgb(4, 212, 212);}
  50% {color:  rgb(230, 135, 47)}
  100% {color:  rgb(221, 44, 85)}
}

/*BOTON PARA IR A LOGIN*/
.button {
  display: inline-block;
  border-radius: 20px;
  background-color: rgb(0, 71, 224);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 150px;
  height: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button:hover {
  background-color: #45a049;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

